<!DOCTYPE html>
<html lang="en">
<body
    style="
      width: 100%;
      display: flex;
      justify-content: center;
      min-height: 100vh;
      margin: 0;
      padding: 0;
    "
  >
    <div
      style="
        width: 600px;
        display: flex;
        flex-direction: column;
        @media (max-width: 600px) {
            width: 100%;
        }
      "
    >
      <div
        style="
          background-image: url('https://res.cloudinary.com/dy7el0ucd/image/upload/v1724031321/bgImage_htmsw4.webp');
          height: 20vh;
          width: 100%;
          background-size: cover;
          background-position: bottom center;
        "
      ></div>
      <div style="padding: 20px; height: 50vh;">
      <p style="color:#555; font-size:16px;">
        Get ready for an amazing experience at <strong>Web3Lagos Conference</strong>! Your ticket is attached below.
      </p>
    </div>
        <img style="width: 100%; justify-self: center;" src={{image}} alt="" />
      <div style="background-color: #0D0042; opacity: 90%; padding: 20px 0; width: 100%; color: white; text-align: center;">
        <h3 style=" margin-bottom:20px; font-weight: 900;">Event Details</h3>
        <p style="font-size:16px; margin:0; ">5 - 7, September 2024 
        </p>
        <p style="margin:0;">The Zone Tech Park, Gbagada, Lagos Nigeria.</p>
        <p style="font-size:16px; margin:20px 0;">Powered by: <img src="https://res.cloudinary.com/dy7el0ucd/image/upload/v1724033537/HostIT-LOGO-LIGHT_pvqpbi.png" alt="" style="width: 80px;">
        </p>
      </div>
    </div>
  </body>
</html>